@model BookShop.Models.Purchase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>

</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <div>
            <h3>Форма оформления покупки</h3>
            @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.BookId)
                @Html.LabelFor(m => m.Person, "Введите свое имя")
                <br />
                @Html.TextBoxFor(m => m.Person)
                <br /><br />
                @Html.LabelFor(m => m.Address, "Введите адрес")
                <br />
                @Html.TextBoxFor(m => m.Address)
                <p><input type="submit" value="Отправить" /></p>
            }
        </div>
    </div>
</body>
</html>